@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Futura Std';
		font-weight: 400;
		src: url('/FuturaStdBook.woff');
	}

	@font-face {
		font-family: 'Futura Std';
		font-weight: 500;
		src: url('/FuturaStdMedium.woff');
	}

	@font-face {
		font-family: 'Futura Std';
		font-weight: 600;
		src: url('/FuturaStdHeavy.woff');
	}

	@font-face {
		font-family: 'Futura Std';
		font-weight: 700;
		src: url('/FuturaStdBold.woff');
	}
}
